{include file="head.html" /}
				<!--down is body -->
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					<!-- Button trigger modal -->
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
						添加新用户
					</button>
					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header bg-info">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">添加用户</h4>
								</div>
								<div class="modal-body">
									<form class="form-horizontal" id="addForm" method="post">
										<div class="form-group">
											<label class="col-sm-2 control-label">账号</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="inputAccount" name="inputAccount" placeholder="账号" required>
											</div>
											<label class="col-sm-1 control-label">
												<span class="glyphicon glyphicon-ok text-success hidden" aria-hidden="true"></span>
												<span class="glyphicon glyphicon-remove text-danger hidden" aria-hidden="true" title="该账号被占用，或包含特殊字符"></span>
											</label>
										</div>
										<div class="form-group">
											<label for="inputUsername" class="col-sm-2 control-label">用户名</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="inputUsername" name="inputUsername" placeholder="用户名" required>
											</div>
											<label class="col-sm-1 control-label">
												<span class="glyphicon glyphicon-ok text-success hidden" aria-hidden="true"></span>
												<span class="glyphicon glyphicon-remove text-danger hidden" aria-hidden="true" title="该用户名被占用，或包含特殊字符"></span>
											</label>
										</div>
										<div class="form-group">
											<label for="inputPassword" class="col-sm-2 control-label">密码</label>
											<div class="col-sm-9">
												<input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="密码" required>
											</div>
											<label class="col-sm-1 control-label">
												<span class="glyphicon glyphicon-ok text-success hidden" aria-hidden="true"></span>
												<span class="glyphicon glyphicon-remove text-danger hidden" aria-hidden="true" title="密码长度不足6位,或包含空格"></span>
											</label>
										</div>
										<div class="form-group">
											<label for="inputConfirmPas" class="col-sm-2 control-label">确认密码</label>
											<div class="col-sm-9">
												<input type="password" class="form-control" id="inputConfirmPas" name="inputConfirmPas" placeholder="密码" required>
											</div>
											<label class="col-sm-1 control-label">
												<span class="glyphicon glyphicon-ok text-success hidden" aria-hidden="true"></span>
												<span class="glyphicon glyphicon-remove text-danger hidden" aria-hidden="true" title="密码不一致"></span>
											</label>
										</div>
										<div class="form-group">
											<label for="inputMark" class="col-sm-2 control-label">备注</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="inputMark" name="inputMark" placeholder="备注" >
											</div>
											<label class="col-sm-1 control-label">
												<span class="glyphicon glyphicon-ok text-success hidden" aria-hidden="true"></span>
												<span class="glyphicon glyphicon-remove text-danger hidden" aria-hidden="true" title="备注信息"></span>
											</label>
										</div>
										<div class="form-group">
											<label for="" class="col-sm-2 control-label">用户状态</label>
											<div class="col-sm-10">
												<div class="radio">
													<label>
														<input type="radio" name="optionsRadios" value="1" checked> 启用
													</label>
													<label>
														<input type="radio" name="optionsRadios" value="2"> 禁用
													</label>
												</div>
											</div>
										</div>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button type="submit" class="btn btn-primary">保存</button>
								</div>
									</form>
							</div>
						</div>
					</div>

					<br />
					<div class="row"><br /> </div>
					<div class="table-responsive">
						<table id="myTable" class="table table-striped table-hover">
							<thead>
								<tr class="success">
									<th>id</th>
									<th>账号</th>
									<th>用户名</th>
									<th>备注</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>	
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		{include file="script.html" /}
	  <script>
		  $('#addForm').submit(function(envent){
			  envent.preventDefault();
			  if($('#inputAccount').dataIO({"showErr":true,"required":true}) == -1){return;}
			  if($('#inputUsername').dataIO({"showErr":true,"required":true}) == -1){return;}
			  if($('#inputPassword').dataIO({"showErr":true,"type":'pwd'}) == -1){return;}
			  if($('#inputConfirmPas').dataIO({"showErr":true,"type":'pwd',"pwdCfm":true}) == -1){return;}
			  if($('#inputMark').dataIO({"showErr":true}) == -1){return;}
			  $('#inputAccount').dataIO({
				  "showErr":true,
				  "type":'php',
				  "where":{"username":$('#inputUsername').val()},
				  "updates":{
				  	"inputUsername":$('#inputUsername').val(),
					"inputMark":$('#inputMark').val(),
					"inputPassword":$('#inputPassword').val(),
					"optionsRadios":$("input[name='optionsRadios']:checked").val()
				  },
				  "url":'/index/index/addUser'
			  });
		  });

		$('#inputPassword').change(function($this){
			$(this).dataIO({"type":'pwd'});
		});
		$('#inputConfirmPas').change(function($this){
			$(this).dataIO({"type":'pwd',"pwdCfm":true});
		});


		$('#inputUsername').change(function($this){
			if($(this).dataIO({"required":true}) == -1){return;}
			$(this).dataIO({"type":'php',"url":'/index/index/checkUsername'});
		});

		$('#inputAccount').change(function($this){
			if($(this).dataIO({"required":true}) == -1){return;}
			$(this).dataIO({"type":'php',"url":'/index/index/checkUserid'});
		});
	
		$('#inputMark').change(function($this){
			$(this).dataIO({});
		});

		$('body').on('hidden.bs.modal','.modal',function(){
			$('#inputAccount').val("");
			$('#inputUsername').val("");
			$('#inputPassword').val("");
			$('#inputConfirmPas').val("");
			$('#inputMark').val("");
			$("input[name='optionsRadios']:eq(0)").prop("checked","checked");
			$('.modal .glyphicon').addClass('hidden');

		});

		var table;

		$(document).ready(function(){
			var tableArg={};
			tableArg.columns=[
					{"data":"id"},
					{"data":"user_id"},
					{"data":"user_name"},
					{"data":"mark"},
					{
						"data":"valid",
						"render":function(data,type,row,meta){
	   						if(data == 1){
							   return '<span class="label label-success">启用</span>';
								  }else{
							   return '<span class="label label-danger">禁用</span>';
								  }
	   					}
					},
					{
						"data":"",
						"render":function(data,type,row,meta){
							var contents;
							 contents='  <span role="button" class="glyphicon glyphicon-edit text-info" onclick="modify('+row.id+',\''+row.user_id+'\',\''+row.user_name+'\',\''+row.mark+'\',\''+row.valid+'\')" title="修改"> </span>';
							 contents+='  <span role="button" class="glyphicon glyphicon-lock text-info" onclick="modifyPas('+row.id+',\''+row.user_id+'\',\''+row.user_name+'\')" title="修改密码"> </span>';
							 contents+=' <span role="button" class="glyphicon glyphicon-remove-circle text-info" onclick="del('+row.id+')" title="删除"> </span>';
							return contents;
	   					}
					}
				        ];
			tableArg.columnDefs=[
					{"searchable":false,"targets":[0,3,4]},
					{"visible":false,"targets":[0]},
					{"width":"100px","targets":[5]}
					];
			tableArg.url='/index/index/getuser';
			table=$('#myTable').initTable(tableArg);return;
		});

		function del(id){
			$().dialogShow({
				"type":BootstrapDialog.TYPE_WARNING,
				"message":'是否确认删除该用户？',
				"btnCssR":'btn btn-warning',
				"btnAtnR": function(dialogRef){
						$().dataIO({
							"type":'php',
							"showErr":true,
							"where":{"user_id":id},
							"url":'/index/index/delUser'							
						});
						table.ajax.reload();
						dialogRef.close();
					}
			});
		}

		function modify(id,userid,username,mark,valid){
			$().dialogShow({
				"title":'信息修改',
				"message":$('<div></div>').load('/index/index/mInfo?arg='+[id,userid,username,mark,valid]),
				"btnAtnR":function(shows){
					$().dialogShow({
						"type":BootstrapDialog.TYPE_WARNING,
						"message":'是否修改该用户信息？',
						"btnCssR":'btn btn-warning',
						"btnAtnR":function(shows1){
							shows1.close();
							if($('#inputMarkM').dataIO({"showErr":true}) == -1){return;}
							$('#inputMarkM').dataIO({
								"type":'php',
								"showErr":true,
								"where":{"id":id},
								"updates":{"optionsRadiosM":$("input[name='optionsRadiosM']:checked").val()},
								"url":'/index/index/editUser'
							});
						}
					});
				}
			});
		}

		function modifyPas(id,userid,username){

			$().dialogShow({
				"title":'密码修改',
				"message":$('<div></div>').load('/index/index/mPwd?arg='+[id,userid,username]),
				"btnAtnR":function(show){
					$().dialogShow({
						"type":BootstrapDialog.TYPE_WARNING,
						"message":'是否修改密码',
						"btnCssR":'btn btn-warning',
						"btnAtnR":function(show1){
							show1.close();
							if($('#inputPasswordOld').dataIO({"type":'pwd',"showErr":true}) == -1){return;}
							if($('#inputPasswordNew').dataIO({"type":'pwd',"showErr":true}) == -1){return;}
							if($('#inputPasswordConfirmNew').dataIO({"type":'pwd',"showErr":true,"pwdCfm":true}) == -1){return;}
							$('#inputPasswordNew').dataIO({
								"type":'php',
								"url":'/index/index/checkAndEditPas',
								"showErr":true,
								"where":{"id":id,"pwdOld":$('#inputPasswordOld').val()}
							});
						}
					});
				}
			});
		}


		function changeOldPas(id){
			if($('#inputPasswordOld').dataIO({"type":'pwd'}) == -1){return;}
			$('#inputPasswordOld').dataIO({"type":'php',"where":{"id":id},"url":'/index/index/checkPas'});
		}
		
		function changeNewPas(){
			$('#inputPasswordNew').dataIO({"type":'pwd'});
		}

	      	function changeConfirmNewPas(){
			$('#inputPasswordConfirmNew').dataIO({"type":'pwd',"pwdCfm":true});
	      	}

							
	  </script>
	</body>
</html>
