
<form class="form-horizontal"  method="post"> 
	<div class="form-group"> 
		<label for="" class="col-sm-2 control-label">账号</label> 
		<div class="col-sm-9"> 
			<input type="text" class="form-control"  value="{$args[1]}" placeholder="账号" disabled="disabled" required> 
		</div> 
		<label class="col-sm-1 control-label">   </label> 
	</div> 
	<div class="form-group"> 
		<label for="" class="col-sm-2 control-label">用户名</label> 
		<div class="col-sm-9"> 
			<input type="text" class="form-control"  value="{$args[2]}" placeholder="用户名" disabled="disabled" required> 
		</div> 
		<label class="col-sm-1 control-label">   </label> 
	</div> 
	<div class="form-group"> 
		<label for="inputPasswordOld" class="col-sm-2 control-label">旧密码</label> 
		<div class="col-sm-9"> 
			<input type="password" class="form-control" id="inputPasswordOld" name="inputPasswordOld" value="" placeholder="旧密码" onchange="changeOldPas({$args[0]})" required > 
		</div> 
			<label class="col-sm-1 control-label">  
				<span class="glyphicon glyphicon-ok text-success hidden" aria-hidden="true"></span> 
				<span class="glyphicon glyphicon-remove text-danger hidden" aria-hidden="true" title="密码不正确"></span> 
			</label> 
	</div> 
	<div class="form-group"> 
		<label for="inputPasswordNew" class="col-sm-2 control-label">新密码</label> 
		<div class="col-sm-9"> 
			<input type="password" class="form-control" id="inputPasswordNew" name="inputPasswordNew" value="" placeholder="新密码" onchange="changeNewPas()" required > 
		</div> 
			<label class="col-sm-1 control-label">  
				<span class="glyphicon glyphicon-ok text-success hidden" aria-hidden="true"></span> 
				<span class="glyphicon glyphicon-remove text-danger hidden" aria-hidden="true" title="密码不足6位,或密码包含空格"></span> 
			</label> 
	</div> 
	<div class="form-group"> 
		<label for="inputPasswordConfirmNew" class="col-sm-2 control-label">确认密码</label> 
		<div class="col-sm-9"> 
			<input type="password" class="form-control" id="inputPasswordConfirmNew" name="inputPasswordConfirmNew" value="" placeholder="确认密码" onchange="changeConfirmNewPas()" required > 
		</div> 
			<label class="col-sm-1 control-label">  
				<span class="glyphicon glyphicon-ok text-success hidden" aria-hidden="true"></span> 
				<span class="glyphicon glyphicon-remove text-danger hidden" aria-hidden="true" title="与上次密码输入不一致"></span> 
			</label> 
	</div>
</form>
